#listadoproductos{
	padding: 0 50px;
	position: relative;

	.swiper__navegacion{
		&#prev{
			left: 0;
		}

		&#next{
			right: 0;
		}

		svg{
            path{
            	stroke: #aeaea9;
            }
        }
	}
}